/* Background pattern from Toptal Subtle Patterns */
body {
    font-family: Arial, Helvetica, sans-serif, Helvetica Neue;
    color: #777777;
    background-image: url('../images/geometric-leaves/geometric-leaves.png');
    background-repeat: repeat;
    height: 100%;
}     
header {
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 10px;
    width: 80%;
    margin: 0 auto;
}
h1 {
    background-color: #4aaaa5;
    margin: 50px 0px 0px 0px;
    padding: 20px;
    color: #ffffff;
    float: left;
}
p {
    line-height: 1.6;
    margin-bottom: 20px;
}
.fullHeader {
    background-color: #ffffff;
    height: 115px;
    border-bottom: #cccccc 4px solid;
}
li {
    float: right;
    border-right: 1px solid #cccccc;
    margin-top: 70px;
    padding: 5px 10px 5px 10px;
    line-height: 8px;
}

li:first-child {
    border: none;
}
.image {float:left;
    margin: 20px 20px 10px 0px;
}
.article {
    margin-top: 20px;
}
section {
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    /* width: 960px; */
    width: 80%;
    margin: 40px auto;
}
h2 {
    color: #4aaaa5;
    padding-bottom: 8px;
}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
}
.clearfix {
    content:"";
    clear:both;
    display: block;
}
/* contact.html */
.form {
    padding: 20px 0px;
}
button {
    background: #4aaaa5;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
}
input {
    margin: 10px 0px;
    width: 100%;
    padding: 10px 0px 10px 5px;
    display: inline-block;
    box-sizing: border-box;
}
textarea{
    margin: 10px 0px;
    width: 100%;
    height: 200px;
    padding: 0px;
}
footer {
    background-color: #666666;
    padding: 20px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    color:#ffffff;
    font-size: 15px;
}
/* portfolio.html */
.container {
    position: relative;
    width: 60%;
    margin: 20px 20px 10px 0px;
    }
.text {
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
}
.textright {
    position: absolute;
    bottom: 10px;
    right: 0px;;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    width: 170px;
}
.float {
    float: left;
    position: relative;
    width: 200px;
    height: 150px;
}

.floatright {
    float: right;
    position: relative;
    width: 200px;
    height: 150px;
}

@media only screen and (max-width: 920px) {
    /* section {
        margin-right: 0px; 
    }
    */
    .container {
        width: 100%;
    }
}
@media only screen and (max-width: 610px) {
    ul {
        width: 100%;      
        display: inline-block;
        margin-top: 10px;
    }
    li {
        margin-top: 5px;
        margin-bottom: 20px;
    }
  
    .nav {
        margin-bottom: 50px;
    }
    h1 {
        margin-inline: 10px;
    }
    .fullHeader {
        height: auto;
    }
}
@media only screen and (max-width: 580px) {
    .container {
        width: 100%;        
    }
    .float {
        margin: auto; 
        width: 100%;
        height: 100%;
    }
    .floatright {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        float: none;
    }

    img {
        width: 100%;
        height: auto;
    }
    section {
        width: 85%;
    }
    .textright {
        width: 100%;
    }
    .image {
        width: 50%;
    }
}
@media only screen and (max-width: 568px) {
    .image {
        width: 50%;
}